<html>
    <body>
        <div>
            <h1>Nutcracker News</h1>
        {% if session.username %}
            <h3>Welcome {{session.username}} </h3>
            <div style="display: flex">
                <a href="/logout">Log out</a>
                <a href="/posts">Posts</a>
                <a href="/users/{{session.user_id}}">My profile</a>
            {% else %}
            <a href="/signup">Sign up</a>
            <a href="/login">Log in</a>
            </div>
            {% endif %}
        </div>
        <hr/>
        {% block page_content %}{% endblock %}
    </body>
</html>