{% extends "base.html" %}
<html>
  {% block page_content %} {% if session.username %}
  <h2>Create a post</h2>
  <div class="card bg-light mb-3">
    <form action="/posts" method="POST">
      <div class="card-body">
        <div class="form-group">
          <label>Post title</label>
          <input
            class="form-control"
            name="title"
            type="text"
            maxlength="100"
            minlength="1"
            placeholder="Max 100 characters"
            required
          />
        </div>
        <div class="form-group">
          <label>Content</label>
          <textarea
            class="form-control"
            name="content"
            maxlength="1000"
            minlength="1"
            placeholder="Max 1000 characters"
            required
          ></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit" />
        <input
          type="hidden"
          name="csrf_token"
          value="{{ session.csrf_token }}"
        />
      </div>
    </form>
  </div>
  {% else %}
  <p>
    You need an account to submit posts. Sign up <a href="/signup">here!</a>
  </p>
  {%endif%} {% endblock %}
</html>
