{% extends "base.html" %}
<html>
    {% block page_content %}
    {%if comment%}
    <h2>Edit comment</h2>
    <form method="POST" action="/edit/comment/{{comment.comment_id}}">
        <input type="hidden" name="method" value="put" />
        <label>Content</label><br/>
        <input name="content" type="text" value="{{comment.content}}">
        <input type="submit" value="Submit">
    </form>
    <hr/>
    <form method="POST" action="/edit/comment/{{comment.comment_id}}">
        <input type="hidden" name="method" value="delete" />
        <input type="submit" value="Delete comment">
    </form>
    
    {%endif%}
    {%if post%}
    <p>Post created: {{post.created_at|datetimeformat}}</p>
    {% if post.created_at != post.edited_at %}
    <p>Post edited: {{post.edited_at|datetimeformat}}</p>
    {% endif %}
    <h2>Edit post</h2>
    <form method="POST" action="/edit/post/{{post.post_id}}">
        <input type="hidden" name="method" value="put" />
        <label>Title</label><br/>
        <input name="title" type="text" value="{{post.title}}"><br/>
        <label>Content</label><br/>
        <textarea name="content">{{post.content}}</textarea><br/>
        <input type="submit" value="Submit">
    </form>
    <hr/>
    <form method="POST" action="/edit/post/{{post.post_id}}">
        <input type="hidden" name="method" value="delete" />
        <input type="submit" value="Delete post">
    </form>
    {%endif%}
    <div>
        {% for message in get_flashed_messages() %}
        <p>
            {{ message }}
        </p>
        {% endfor %}
        </div>
{% endblock %}
</html>