<html>
{% if session.username %}
<p>You're logged in as {{ session.username }}</p>
<a href="/logout">Log out</a>
<a href="/posts">Posts</a>
<a href="/users/{{session.user_id}}">My profile</a>
{% else %}
<form action="/login" method="POST">
    <label>Username</label><br/>
    <input name="username" type="text"><br/>
    <label>Password</label><br/>
    <input name="password" type="password">
    <br/>
    <input type="submit" value="Log in">
</form>
{% endif %}
<div>
    {% for message in get_flashed_messages() %}
    <p>
        {{ message }}
    </p>
    {% endfor %}
</div>
<a href="/signup">Sign up</a>
</html>
