{% extends "base.html" %}
<html>
    {% block page_content %}
    {% if session.username %}
    <p>You're logged in as {{ session.username }}</p>
    {% else %}
    <h1>Log in</h1>
    <form action="/login" method="POST">
        <label>Username</label><br/>
        <input name="username" type="text" maxlength="20" minlength="1" required><br/>
        <label>Password</label><br/>
        <input name="password" type="password" maxlength="100" minlength="1" required>
        <br/>
        <input type="submit" value="Log in">
    </form>
{% endif %}
<div>
    {% for message in get_flashed_messages() %}
    <p>
        {{ message }}
    </p>
    {% endfor %}
</div>
{% endblock %}
</html>
