{% extends "base.html" %}
<html>
    {% block page_content %}
    <div>
        {% if posts %}
        {% for post in posts %}
        <div>
            {% if session.username %}
            <form method="post" action="/likes">
                <input type="hidden" name="post_id" value="{{post.post_id}}">
                <input type="submit" name="vote_button" value="+1">
                <input type="submit" name="vote_button" value="-1">
            </form>
            {% endif %}
            <h1>
                {{post.title}}
            </h1>
            <p>{{ post.votes }} </p>
            <a href="/users/{{post.user_id}}">{{post.username}}</a>
            <p>{{post.content}}</p>
            <a href="posts/{{post.post_id}}">
                {{post.comment_count}} comments
            </a>
        </div>
        {% endfor %}
        {% else %}
        <p>No posts to display.</p>
        {% endif %}
    </div>
    <hr/>
    <h1>Make a post</h1>
    <form action="/posts" method="POST">
        <label>Post title</label><br/>
        <input name="title" type="text"><br/>
        <label>Content</label><br/>
        <textarea name="content"></textarea>
        <br/>
        <input type="submit" value="Submit">
    </form>
    <div>
        {% for message in get_flashed_messages() %}
        <p>
            {{ message }}
    </p>
    {% endfor %}
</div>
{% endblock %}
</html>