{% extends "base.html" %}
<html>
    {% block page_content %}
    <div>
        <a href="/">◄</a>
        {% if post %}
        <div class="card bg-light mb-3">
            <div class="row card-header">
                <small class="text-muted col-3">Created: {{post.created_at|datetimeformat}}
                    {% if post.created_at != post.edited_at %}
                    <br/>Edited: {{post.edited_at|datetimeformat}}
                    {% endif %}
                </small>
                <a class="col-2" href="/users/{{post.user_id}}">{{post.username}}</a>
            </div>
            <div class="row card-body">
                {% if session.username %}
                <form class="col-1"  method="post" action="/likes">
                    <input type="hidden" name="post_id" value="{{post.post_id}}">
                    <input class="btn btn-light col-md-12" type="submit" name="vote_button" value="+1">
                    <h6 class="upvote-counter col-md-12">{{ post.votes }} </h6>
                <input class="btn btn-light col-md-12" type="submit" name="vote_button" value="-1">
            </form>
            {% endif %}
            <div class="col-10 post-content">
                <h3>
                    {{post.title}}
                </h3>
                <p>{{post.content}}</p>
            </div>
            </div> 
        </div>
        {% else %}
        <p>This post doesn't exist...</p>
        {% endif %}
    </div>
    <h1>Comments</h1>
    {% for comment in post_comments %}
    <div>
        <hr/>
        {{comment.created_at|datetimeformat}}
        <a href="/users/{{comment.user_id}}">{{comment.username}}</a>
        <p>{{comment.content}}

            {% if comment.created_at != comment.edited_at %}
            <i>(edited {{comment.edited_at|datetimeformat}})</i>
            {% endif %}
        </p>
    </div>
    {% endfor %}
    {% if session.username %}
    <div>
        <form method="POST" action="/posts/{{post.post_id}}/comments">
        <label>Content</label><br/>
        <textarea name="content"></textarea>
        <input type="submit" value="Submit">
        </form>
    </div>
    {% endif %}
    {% endblock %}
</html>