{% extends "base.html" %}
<html>
    {% block page_content %}
    <div>

        <a href="/">◄</a>

        {% if post %}
        <div>
            {% if session.username %}
            <form method="post" action="/likes">
                <input type="hidden" name="post_id" value="{{post.post_id}}">
                <input type="submit" name="vote_button" value="+1">
                <input type="submit" name="vote_button" value="-1">
            </form>
            {% endif %}
            <h1>
                {{post.title}}
            </h1>
            <p>{{ post.votes }} </p>
            <a href="/users/{{post.user_id}}">{{post.username}}</a>
            <p>{{post.content}}</p>
        </div>
        {% else %}
        <p>This post doesn't exist...</p>
        {% endif %}
    </div>
    <h1>Comments</h1>
    {% for comment in post_comments %}
    <div>
        <hr/>
        <a href="/users/{{comment.user_id}}">{{comment.username}}</a>
        <p>{{comment.content}}</p>
    </div>
    {% endfor %}
    {% if session.username %}
    <div>
        <form method="POST" action="/posts/{{post.post_id}}/comments">
        <label>Content</label><br/>
        <textarea name="content"></textarea>
        <input type="submit" value="Submit">
        </form>
    </div>
    {% endif %}
    <div>
    {% for message in get_flashed_messages() %}
    <p>
        {{ message }}
    </p>
    {% endfor %}
    </div>
    {% endblock %}
</html>