{% extends "base.html" %}
<html>
    {% block page_content %}
    <div>
        {% if profile %}
            <h1>{{profile.username}}'s profile</h1>
            <p>description: {{profile.description}}</p>
            <p>country: {{profile.country}}</p>
            <hr/>
            {% if admin %}
            <h1>Edit profile</h1>
                <form action="/users/{{session.user_id}}" method="POST">
                    <label>Description</label><br/>
                    <textarea name="description" value="{{profile.description}}"></textarea><br/>
                    <label>Country</label><br/>
                    <input name="country" value="{{profile.country}}" type="text">
                    <br/>
                    <input type="submit" value="Submit">
                </form>
            <hr/>
            {% endif %}
            {% if posts %}
            <h1>{{profile.username}}'s posts</h1>
                {% for post in posts %}
                <div>
                    <h1>
                        {{post.title}}
                    </h1>
                    <p>{{post.content}}</p>
                    <a href="/posts/{{post.post_id}}">
                        View post
                    </a>
                    {%if admin%}
                    <form action="/edit/post/{{post.post_id}}" method="GET">
                        <input type="submit" value="Edit post">
                    </form>
                    {%endif%}
                </div>
                {% endfor %}
            {% else %}
            <p>No posts to display.</p>

        {% endif %}
        <h1>{{profile.username}}'s comments</h1>
        {% if comments %}
            {% for comment in comments %}
            <div>
                <p>{{comment.content}}</p>
                <a href="/posts/{{comment.post_id}}">
                    View post
                </a>
                {%if admin%}
                <form action="/edit/comment/{{comment.comment_id}}" method="GET">
                    <input type="submit" value="Edit comment">
                </form>
                {%endif%}
            </div>
            {% endfor %}
        {% else %}
            <p>No comments to display.</p>
        {% endif %}
    {% endif %}
    </div>

   <div>
    {% for message in get_flashed_messages() %}
    <p>
        {{ message }}
    </p>
    {% endfor %}
    </div>
    {% endblock %}
</html>