.greeting {
  color: gray;
  font-style: italic;
}
.upvote-counter {
  margin: 2px;
  padding: 0.5rem 0;
  text-align: center;
}
.post-content {
  overflow-wrap: break-word;
}
.logo {
  background-color: #007bff;
  color: #fff;
  padding: 2px 6;
  border-radius: 0px;
  margin-right: 4px;
}
#has-voted {
  color: #007bff !important;
}
